$primary-color: red;
$main-bg-color: #E6E6E6;
$text-large: 20px;

$nav-bg: #0B243B !important;
$header-bg: url(http://theme.npm.edu.tw/exh105/RiverQingming/common/images/mainGraphicBG.jpg) no-repeat center;
$section-bg: #FAEBD7;
$footer-bg: #0B243B !important;


$wrapper-margin-top: 70px;
$wrapper-sm-margin-top: 40px;

// $header-bg: url(http://blackrockdigital.github.io/startbootstrap-landing-page/img/intro-bg.jpg) no-repeat center;

// h1 {
//     color: $primary-color;
// }

.text-large {
    font-size: $text-large;
}

// body {
//     background-color: $main-bg-color;
// }

.no-margin {
    margin: 0px;
}
.no-padding {
    padding: 0px;
}

.wrapper {
    margin-top: $wrapper-sm-margin-top;
}

@media (min-width: 768px) {
   .wrapper {
        margin-top: $wrapper-margin-top;
    } 
}

nav {
    background: $nav-bg;
}

header {
    background: $header-bg;
}

section {
    padding-top: 50px;
    font-size: 18px;
}

section:nth-child(odd) {
    background: $section-bg;
}




// navbar brand
.navbar-brand {
    height: 100%;
    padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
    height: 100%;
    padding: 0px; /* firefox bug fix */
    width: auto;
}


// bootstrap custom: http://blackrockdigital.github.io/startbootstrap-landing-page/css/landing-page.css
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}