<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h3>Location</h3>
                    <p>台灣 111台北市士林區至善路二段221號</p>
                </div>
                <div class="footer-col col-md-6">
                    <h3>About</h3>
                    <ul class="list-inline">
                        <li><a href="http://theme.npm.edu.tw/exh105/RiverQingming/ch/index.html" target="_blank">國立故宮博物院</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="footer-below">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12">-->
    <!--                Copyright &copy; XiaoMing Website 2016-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</footer>